{% extends "layout.html" %}

{% block content %}

<!-- PARTE PRINCIPAL DE LA PAGINA -->
<div class="principal">
    <aside>
        <h2 class="aside title">En 2025, se vienen cursos nuevos!</h2>
        <a class="imagen"><img src="../static/img/cursosnuevos.jpeg" alt="imagen"></a>
        <p> Porque buscamos lo mejor para vos, proximamente lanzaremos nuevos cursos de capacitacion, con distintos niveles de aprendizaje...Atentos, cupos limitados!</p>
        <h2 class="ca">Inscripciones abiertas</h2>
        <a class="imagen"><img src="../static/img/inscripciones.jpeg" alt="imagen"></a>
        <h3 class="aside title"> Extendimos el plazo para inscripciones </h3>
        <p> Si te interesa formarte con nosotros, ahora tenes tiempo de inscribirte hasta el 31/12</p>
    </aside>
    <main>
        <article>
            <h2>PROGRAMACION WEB</h2>
            <img src="../static/img/programacion.jpeg" alt="imagen">
            <p>Curso de programacion web en dos niveles. Front-end y Back-end.</p>
            <a href="class="mas">Mas info</a>
        </article>
        <article>
            <h2>INGLES</h2>
            <img src="../static/img/ingles.jpeg" alt="ingles">
            <p>Se encuentran abiertas las inscripciones de los cursos de ingles</p>
            <a href="" class="seguirleyendo">Mas info</a>
        </article>
        <article>
            <h2>MARKETING DIGITAL</h2>
            <img src="../static/img/marketing.jpeg" alt="marketing">
            <p> Si te interesa el mundo de las publicidades y redes sociales, aca tenes el mejor curso de marketing digital! con amplia salida laboral.</p>
            <a href= "" class="seguirleyendo">Mas info</a>
        </article>
        <article>
            <h2>DATA ANALYTICS</h2>
            <img src="../static/img/data.jpeg" alt="data">
            <p> Nuevo curso de Analisis de Datos.</p>
            <a href= "" class="seguirleyendo">Mas info</a>
        </article>

    </main>
</div>

{% endblock%}
